[submodule ".registry"]
	path = .registry
	url = https://github.com/erstrategies/erstrategies.r-universe.dev
	branch = HEAD
[submodule "erstools"]
	path = erstools
	url = https://github.com/ERStrategies/erstools
